* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
  }
  
  h3 {
    font-size: 24px;
  }
  
  p {
    font-size: 12px;
  }
  
  header div.top-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px;
  }
  
  header {
    background-color: #eac926;
  }
  
  header #logo {
    width: 50%;
  }
  
  header div.top-header div.form {
    width: 50%;
    display: flex;
  }

  header div.top-header div.form .nav-search {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;
  }

  header div.top-header div.form .nav-search input {
    width: 85%;
    border-radius: 5px;
    padding: 5px;
    height: 24px;
    border: none;
    color: #666;
    background-color: #fff;
  }

  header div.top-header div.form .nav-search button {
    width: 15%;
    height: 24px;
    border-radius: 5px;
    background-color: #fff;
  }

  header nav {
    font-size: 12px;
  }
  
  header ul li {
    list-style-type: none;
  }
  
  header ul li a {
    text-decoration: none;
    color: #000;
  }
  
  header .form .input {
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
  }
  
  header .form .submit {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 10%;
  }
  
  header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  div.burger-menu {
    text-align: center;
    padding-bottom: 5px;
  }
  
  div.burger-menu i {
    background-color: #0044aa;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 30px;
    margin: auto;
    padding-top: 5px;
    width: 30px;
  }
  
  article div.main-article {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #ebebeb;
    margin: auto;
  }

  .price {
    font-size: 18px;
    display: flex;
    flex-grow: 0.3;
  }

  .discount {
    display: flex;
    flex-grow: 0.7;
    text-align: justify;
  }
  
  .description{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 8%;
    text-align: justify;
  }

  .contener {
    padding-left: 8%;
    display: flex;
    flex-direction: row;
  }
 

  .discount,
  .description {
    font-size: 16px;
    font-weight: normal;
  }
  
  h3,
  .description {
    color: #666;
  }
  
  section.banner img {
    width: 100%;
  }
  
  main {
    width: 90%;
    text-align: center;
    margin: auto;
  }
  
  main section article {
    background-color: #fff;
    margin: 15px; 
  }
  
  main section article img {
    width: 100%;
  }
  
  main section article i,
  .discount {
    color: #39b54a;
  }

.product_img{
    width: 100%; 
    height:100%;
}

.banner{
    width: 100%;
    height: 100%;
}

footer{
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #666;
}

footer div{
    font-size: 18px;
}

footer p {
    font-size: 12px;
    padding:  5px 60px;
    
}

#icons{
    text-align: center;
    border-radius: 5px;
    color: #1259c3;
    font-size: 36px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 20px  20px  1px;
    width: 40px;
    
}

#copyright{
    font-size: 12px;
    font-weight: normal;
    color: #666;
    text-align: justify;
    opacity: .6;
}


.main-article > .fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }

.main-article {
    position: relative;
}

main.login form button {
  background-color: #0022AA;
  color: #ffffff;
  width: 85%;
  height: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 450px;
}

main.login form #txfUser, main.login form #txfPassword {
    width: 85%;
    border-radius: 5px;
    padding: 15px;
    height: 24px;
    border: none;
    color: #666;
    background-color: #fff;
    max-width: 450px;
}

main.register form input {
    width: 85%;
    border-radius: 5px;
    padding: 15px;
    height: 24px;
    border: none;
    color: #666;
    background-color: #fff;
    max-width: 450px;
}

main.register form button {
    width: 85%;
    border-radius: 5px;
    border: none;
    max-width: 450px;
}

main.register form .create {
  background-color:#0022AA ;
  color: #fff;
}

main.register form .reset {
  background-color: #000;
  color: #fff;
}







@media (max-width: 480px){
  main section article i,
  .description {
    display: none;
  } 
  body header nav ul {
    display: none;
  }
  main section article{
    transition: box-shadow 300ms;
    cursor: pointer;
  }
  main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  main section article:hover .fa-truck {
    transition: transform 300ms;
  }
  main section article:hover .fa-truck{
    transform: rotate(-90deg);
  }
  
}


@media (min-width: 481px){
  div.burger-menu i{
    display: none;
  }
  .top-header{
    display: flex;
    justify-content: space-between;
  }
  .cuotas-header{
    width: 33%;
    text-align: right;
    align-items: center;
    align-self: center;
  }
  .main-navbar{
    display: flex;
    justify-content: space-between;
  } 
  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 0 16px;
  }
  main section article .description {
    display: none;
  }
  main section article:hover .description {
    display: block;
  }
  main section article{
    width: 43%;
    transition: box-shadow 300ms;
    cursor: pointer;
  }
  main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  main section article:hover .fa-truck {
    transition: transform 300ms;
  }
  main section article:hover .fa-truck{
    transform: rotate(-90deg);
  }
  .products {
    
  }
  header #logo {
    width: 33%;
  }
  header div.top-header div.form {
    width: 33%;
    padding: 10px;
  }
}  


@media (min-width: 1130px){
  
  main section article{
    width: 22%;
    box-shadow: none;
    transition: box-shadow 300ms;
    cursor: pointer;
  }

  main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section article:hover .fa-truck {
    transition: transform 300ms;
  }

  main section article:hover .fa-truck{
    transform: rotate(-90deg);
  }

  .products {
    display: flex;
    justify-content: center;
  }

  .main-navbar li {
    margin: 0 50px;
  }

  main.login form #txfUser, main.login form #txfPassword, main.login form button {
    max-width: 700px;
  }

  main.register form input, main.register form input {
    max-width: 700px;
  }

}